

/* COLOR PALLETE*/

/* Text*/ 
$body_text:#8095A9;
$body_text_white:#ffffff;
$yellow:#F0B90B;
$fade_yellow:#E1CFA0;
$black:#000;
$white:#fff;
 
/* BG*/ 

$gradient-button:linear-gradient(90deg, #E57506 27.75%, #F0B921 100%);
$gradient-button-hover:linear-gradient(90deg,#F0B921 100% ,#E57506 27.75% );
$hero-bg:#0D0D2B;
$body-bg:#0D0D2B;


 
